<!-- Main con imagen de fondo y botones -->
    <main>
        <div class="botones-container">
            <h1>Bienvenido, {{user.name}}</h1>
            <h2>Gestión de Inventario</h2>
            <ul>
                <li><button onclick="location.href='/users'">Gestionar Usuarios</button></li>
                <li><button onclick="location.href='#'">Gestionar Sedes</button></li>
                <li><button onclick="location.href='/products'">Consultar Inventario</button></li>
                <li><button onclick="location.href='#'">Generar informes Pendiente</button></li>
            </ul>

            <div class="estadisticas-rapidas">
                <h2>Estadísticas rápidas</h2>
                <p>Total de usuarios: {{userCount}}</p>
                <p>Total de productos: {{productCount}}</p>
            </div>
        </div>
    </main>