<div class="main">
  <form action="{{#if user}}/users/edit/{{user.id}}{{else}}/users/new{{/if}}" method="POST">
  <div>
    <label>Nombre</label>
    <input type="text" name="name" value="{{user.name}}" required>
  </div>
  <div>
    <label>Email</label>
    <input type="email" name="email" value="{{user.email}}" required>
  </div>
  <div>
    <label>Contraseña</label>
    <input type="password" name="password" {{#if user}}placeholder="Dejar en blanco para no cambiar"{{/if}} {{#unless user}}required{{/unless}}>
  </div>
  <div>
    <label>Rol</label>
    <select name="role" required>
      <option value="Admin" {{#eq user.role "Admin"}}selected{{/eq}}>Admin</option>
      <option value="User" {{#eq user.role "User"}}selected{{/eq}}>User</option>
    </select>
  </div>
  <div>
    <label for="sede">Sede</label>
      <select id="sede" name="idSede" required>
        <option value="" disabled selected>--Seleccionar--</option>
        <option value="1" {{#eq user.idSede 1}}selected{{/eq}}>Sede 1ro Mayo</option>
        <option value="2" {{#eq user.idSede 2}}selected{{/eq}}>Sede Chia</option>
        <option value="3" {{#eq user.idSede 3}}selected{{/eq}}>Sede Galerías</option>
        <option value="4" {{#eq user.idSede 4}}selected{{/eq}}>Sede Restrepo</option>
      </select>
  </div>
  <button type="submit">Guardar</button>
</form>
</div>

